<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre del Producto:</strong>
    <%= producto.nombreProd %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= producto.precio %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= producto.stock %>
  </p>

</div>
