<div class="container text-center form-vaypol pt-3 pb-3">
  <h1 style="color: #FFFFFF">Nuevo producto</h1>

  <%= render "form", producto: @producto %>

  <br>

  <div>
    <%= link_to "Volver a productos", productos_path %>
  </div>
</div>