body {
    background-color: rgb(231, 231, 231);
    text-shadow: 2px,2px,3px #000;
  }
.field label {
  padding-bottom: 3px;
  color: white;
  text-shadow: 2px,2px,3px #000;
}
.form.label {
  padding-bottom: 3px;
  color: white;
  text-shadow: 2px,2px,3px #000;
}
.field{
  padding-bottom: 3px;
}
.articulo-vaypol {
  margin-top: 10px;
  width: 80%;
  background-color: rgb(53, 53, 53);
  border-radius: 15px;
}
.form-vaypol {
  margin-top: 10px;
  width: 50%;
  background-color: rgb(53, 53, 53);
  border-radius: 15px;
}
.table{
  overflow: hidden;
  border-radius: 10px;
}
.btn-dark{
  background-color: rgb(90, 90, 90);
}